.bg {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.icon {
  font-size: 10rem;
  margin: 1rem;
  transform: rotate(30deg);
  color: rgba(176, 196, 222, 0.75);
}

.card {
  background-color: rgba(32, 58, 67, 0.95);
}
